# Python bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment (Isolasi lokal)
env-dcc-juara/
env/
venv/
ENV/
.env

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Streamlit configuration and caches
.streamlit/