# Core Deep Learning & Computer Vision
torch>=2.2.0
torchvision>=0.17.0

# Data Science & Processing
matplotlib>=3.8.0
numpy>=1.26.0
Pillow>=10.2.0
tqdm>=4.66.0
scikit-learn>=1.4.0

# Backend & Web Services
fastapi>=0.110.0
uvicorn>=0.28.0
requests>=2.31.0
python-multipart>=0.0.9

# Frontend Dashboard
streamlit>=1.32.0
